NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_REST_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_BOT_LOGISTICA_FUNCTION_URL=

WHATSAPP_TOKEN=
PHONE_NUMBER_ID=

SAP_BASE_URL=
SAP_COMPANY_DB=
SAP_USERNAME=
SAP_PASSWORD=

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_SITE_ID=
AZURE_DRIVE_ID=
