NEXT_PUBLIC_SUPABASE_URL=https://vuiuorjzonpyobpelyld.supabase.co
NEXT_PUBLIC_SUPABASE_REST_URL=https://vuiuorjzonpyobpelyld.supabase.co/rest/v1
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-public-anon-key
SUPABASE_BOT_LOGISTICA_FUNCTION_URL=https://vuiuorjzonpyobpelyld.supabase.co/functions/v1/bot_logistica
